<section class="thirteen columns projects">
  <h1>Open-Source</h1>
  {% for project in site.data.projects %}
    <article class="open-source">
      <header>
        <h1>{{ project.role }}</h1>
        <span>
          {{ project.name }}
          <span class="project-url">{{ project.url }}</span>
        </span>
      </header>
      <!-- <ul> -->
      <!-- {% for sentence in project.info %} -->
      <!--   <li>{{ sentence }}</li> -->
      <!-- {% endfor %} -->
      <!-- </ul> -->
    </article>
  {% endfor %}
</section>
