<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}">
    <meta name="author" content="{{ site.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/layout.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/includes/industry-experience.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/academicons.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}/static/img/favicon.ico">
</head>
<body>
<div class="container">
    <header class="three columns sidebar">
        <img src="{{ site.baseurl }}/static/img/profile.jpg" class="me">
        <h1>{{ site.name }}</h1>
        <p>
            <a href="{{ site.tel_full }}">{{ site.tel }}</a>
        </p>
        <address>
          {{ site.address.city }}<br/>
          {{ site.address.country }}
        </address>
        <p>
          <a href="{{ site.email_full }}">
            <i class="fa fa-envelope-o"></i>
            Email
          </a><br/>
          <a href="https://github.com/{{ site.github }}">
            <i class="fa fa-github"></i>
            Github
          </a><br/>
          <a href="https://scholar.google.com/citations?user=eVYhlDQAAAAJ">
            <i class="ai ai-google-scholar"></i>
            Google Scholar
          </a><br/>
          <a href="https://www.linkedin.com/in/khartikainen/">
            <i class="fa fa-linkedin"></i>
            Linkedin
          </a>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns"></footer>
    </div>
</div>

</body>
</html>
